body {
 background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f6/Whiteboard_with_markers.jpg");
 background-color: #cccccc;
 background-repeat: no-repeat;
 background-size: cover; 
 background-position: center; 
 background-attachment: fixed; 
}

h1{
    color:black;
    text-align: center;
    width:80%;
    text-align:center;
    margin: auto;
}

h2 {
    color: red;
    text-align: center;
}

p{ 
    color: black;
    width:80%;
    text-align:center;
    margin: auto;

}
a:hover {
  color: red; 
}

a{
    text-align: center;
}
ul {
    text-align: center;
    list-style-position: inside;}
