body {
 background-image: url("https://www.publicdomainpictures.net/pictures/510000/nahled/schultafel-tafel-hintergrund-textur.jpg");
 background-color: #cccccc;
 background-repeat: no-repeat;
 background-size: cover; 
 background-position: center; 
 background-attachment: fixed; 
}

h1{
    color:white;
    text-align: center;
}

h2 {
    color: red;
    text-align: center;
}

p{ 
    color: white;
    text-align: center;
}
a:hover {
  color: red; 
}

a{
    text-align: center;
}
ul {
    text-align: center;
    list-style-position: inside;}
